﻿@model GiftShop.Controllers.RoleViewModel

@{
    ViewBag.Title = "AddRoleToUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddRoleToUser</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RoleViewModel</h4>
        <hr />

        <div class="form-group">
            @Html.Label( "user" , htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("user", new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @Html.Label("role", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("role", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
